<p>
  <input type="checkbox" id="options-enableFollow" checked="<%= enableFollow %>" <%= enableFollow %>></input>
  <label for="options-enableFollow" data-l10n-id="pad.settings.ep_what_have_i_missed.enableFollow">Enable Following</label>
</p>
<p>
  <input type="checkbox" id="options-followAll" checked="<%= followAll %>" <%= followAll %>></input>
  <label for="options-followAll" data-l10n-id="pad.settings.ep_what_have_i_missed.followAll">Follow All Changes</label>
</p>
